body {
  background-color: white;
  color: black;
}
#links {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: lowercase;
}
#links a {
  text-decoration: none;
}
.link-homepage {
  padding: 30px;
}
h1 {
  text-align: center;
  padding: 10px;
}
p {
  padding: 10px;
}
.signup-form {
  display: flex;
  margin: 40px;
}
button {
  padding: 20px;
  background-color: rgb(22, 16, 21);
  text-transform: uppercase;
  color: white;
  padding: 15px 30px;
}
#landing-text {
  padding: 20px;
}
.club-entries {
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry {
  text-align: center;
  border: 2px solid black;
  margin: 10px;
}
#loading {
  text-align: center;
  font-size: 40px;
  padding: 30px;
  margin-top: 50px;
}
header {
  text-align: center;
  font-size: 40px;
  padding: 30px;
}
/* footer help for fixed position was found here: https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
footer {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
